POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

Smtp__Host=smtp.resend.com
Smtp__Port=465
Smtp__User=resend
Smtp__Password=
Smtp__FromAddress=onboarding@resend.dev
Smtp__Security=SslOnConnect

Exceptionless__ApiKey=
