POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me

ASPNETCORE_ENVIRONMENT=Production
ConnectionStrings__tododb=Host=postgres;Port=5432;Database=tododb;Username=postgres;Password=change-me
Cors__AllowedOrigins__0=https://todo.amritniure.com
